[run]
branch = True

data_file = /tmp/htmap-test-coverage

include =
    htmap/*
    tests/*

omit =
    htmap/run/*
    htmap/checkpointing.py
    htmap/transfer_output.py

[report]
exclude_lines =
    pragma: no cover
    pragma: unreachable
    def __repr__
    def __str__
    raise NotImplementedError
    raise AssertionError
    if 0:
    if False:
    if __name__ == .__main__.:
