[run]
branch = True

include =
    htmap/*

omit =
    tests/*
    htmap/run/*
    htmap/checkpointing.py
    htmap/transfer_output.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    raise NotImplementedError
    raise AssertionError
    if 0:
    if False:
    if __name__ == .__main__.:
