[run]
branch = True

include =
    htmap/*
    tests/*

omit =
    htmap/run/*

[report]
exclude_lines =
    pragma: no cover
    pragma: unreachable
    pragma: execute-only
    def __repr__
    def __str__
    raise NotImplementedError
    raise AssertionError
    if 0:
    if False:
    if __name__ == .__main__.:
