os: linux
dist: xenial
services:
  - docker

language: python
python:
  - "3.6"
  - "3.7"
#  - "3.8"
env:
  - HTCONDOR_VERSION=8.8
  - HTCONDOR_VERSION=8.9

jobs:
  fast_finish: true

install:
  - pip install codecov
  - travis_retry docker build -t htmap-test --file docker/Dockerfile --build-arg HTCONDOR_VERSION --build-arg PYTHON_VERSION=${TRAVIS_PYTHON_VERSION} .

script:
  - docker run --mount type=bind,src="$PWD",dst=/home/mapper/htmap,readonly htmap-test bash tests/travis.sh
