os: linux
dist: xenial
services:
  - docker

language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
env:
  - HTCONDOR_VERSION=8.8
  - HTCONDOR_VERSION=8.9

jobs:
  fast_finish: false
  exclude:
    - python: "3.8"
      env: HTCONDOR_VERSION=8.8

before_install:
  - python -m pip install pre-commit
  - pre-commit run --all-files

install:
  - travis_retry docker build -t htmap-test:$TRAVIS_BUILD_ID --file docker/Dockerfile --build-arg HTCONDOR_VERSION --build-arg PYTHON_VERSION=${TRAVIS_PYTHON_VERSION} .

script:
  - docker run --mount type=bind,src="$PWD",dst=/home/mapper/htmap htmap-test:$TRAVIS_BUILD_ID bash tests/ci.sh
